.page-home{ 
    display: flex;
    flex-direction: column;
    background-color: #E3F8EC;
    height: 2500px;
    
    .faixa-1{
        background-color: #8ED0AE;
        width: 100%;
        display:flex;
       justify-content: space-between;
       align-items: center;
    }
    
    .logo {
        height:4em;
        width: 8em;
        margin: 1.5em;
    }

    .login {
        font-family: 'font3';        
        color: #ffffff;
        font-size: 20px;
        margin: 2em;
        cursor: pointer;
        text-decoration: none;
    }
    
    .fundo {
        background-image: url('../../../public/images/WhatsApp\ Image\ 2022-04-17\ at\ 11.54\ 1.svg'); 
        background-size: 100%;
    }
    
    .texto1 {
        justify-content: flex-end;
        align-items: center;
        font-family: 'font2';
        color: #ffffff;
        width: 18em;
        font-size: 40px;
        padding: 4em 1em;
    }
    
    .titulo {
        display: flex;
        justify-content: center;
        font-family: 'font9';
        font-size: 20px;
        color: #2F9C7C;
        margin-top: 50px;
    }
    
    .cards-page {
        display: flex;
        flex-direction: column;
    }
    
    .cards-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top:2em ;
        
       
    }
    
    .cards-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 5em;
        margin-top: 4em;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2F9C7C;
        width: 15em;
        height: 15em;
        border-radius: 25px;
        padding: 3em;
        justify-content: space-evenly;
    

    img{
        width:4em;
        height:8em;
    }

        button {
            font-family: 'font9';
            font-size:18px;
            background-color: #CCFFE5;
            color: #2F9C7C;
            border-radius: 8px;
            border: 1px solid #2F9C7C;
            padding: 5px 30px;
            width:10em;
            height: 3em;
            cursor: pointer;


          
        }
        
    }
        
    .card:hover {
        transform: scale(1.05);
        transition: all 0.3s;
    }
   
    button:hover {
        transform: scale(1.07);
        transition: all 0.3s;
    }
 
    
    .faixa-3 {
    
        background-image: url('../../../public/images/WhatsApp\ Image\ 2022-04-19\ at\ 19.17.04\ \(1\).jpeg');
        background-size: 100%;

       
       
        .sobrenos{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 4em;
          

            .f3-titulo {
                text-align: center;
                font-family: 'font1';
                color: #2F9C7C;
                font-size: 28px;
                margin-right: 6em;
            
            }
            
            .f3-texto {
                font-family: 'font5';
                font-size: 18px;
                width: 28em;
                margin-top: 20px;
            }
        }
    
    }

    
   
    
    .faixa-4 {
        display: flex;
        flex-direction: column;
        padding: 4em;
   
    }
    
    .f4-titulo {
        font-family: 'font6';
        text-align: center;
        font-size: 28px;
        color: #2F9C7C;
       
    }

    .f4-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
    }
    
    .f4-img {
        margin-left: 80px;
    }
    
    .f4-imgs {
        width: 150px;
    }
    
    .f4-img-1 {
        width: 109px;
    }
    
    .f4-images p {
        font-family: 'font1';
    }
    
    .f4-img:hover {
        cursor: pointer;
        transform: scale(1.03);
        transition: all 0.2s;
    }
    
    .f4-images p:hover {
        transform: scale(0.9);
        transition: all 0.2s;
    }
    
    .faixa-5 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #8ED0AE;
        height: 100%;
        
    }
    
    .f5-fundo {
        display: flex;
        text-align: center;
    }
    
    .f5-logo {
        width: 200px;
    }
    
    .f5-texto {
        font-size: 18px;
        margin-top: 80px;
        margin-right: 150px;
    }
    
    .f5-texto p {
        font-family: 'font6';
        color: #ffffff;
        padding-top: -1em;
    }
    
    .f5-t {
        font-family:'font4';
        font-size: 16px;
        width: 13em;
        color: #666666;
        padding-bottom: 4em;
    }
    
    .f5-texto-2 {
        font-family: 'font4';
        width: 10em;
        color: #666666;
        margin-top: 30px;
        margin-left: 25px;
        margin-bottom:30px;
    }
    
    .f5-texto-3{
        margin-top: 70px;
        font-family: 'font6';
        font-size: 18px;
        color: #ffffff;
    
        margin-left: 150px;
    }
    
    .f5-images {
        margin-top: 40px;

    }
    
    .f5-images p {
        color: #ffffff;
        font-size: 18px;
    }
    .f5-images p:hover{
        cursor: pointer;
        transform: scale(1.1,1.1);
    }
    
    .f5-icon {
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .f5-images p {
        font-family: 'font6';
        margin-top: 30px;
    }
    
    .icon:hover,
    .f5-icon:hover {
        transform: scale(0.9);
        transition: all 0.3s;
    }

    @media(max-width: 500px) {
        .pages-container {
            height: 5000px;
        }
        .logo {
            margin: 10px 20px;
        }
        .fundo {
            background-position: 100% 500%;
            height: 300px;
        }
        .texto1 {
            font-size: 12px;
        }
        .titulo {
            font-size: 12px;
        }
        .cards-page {
            display: flex;
            flex-direction: column;
        }
        .cards-1 {
            display: flex;
            flex-direction: column;
            margin-left: 75px;
        }
        .cards-2 {
            display: flex;
            flex-direction: column;
            margin-left: 75px;
        }
        .card {
            margin-top: 50px;
        }
        .card-one {
            display: flex;
            justify-content: center;
            margin-left: 68px;
        }
        .faixa-3 {
            margin-top: 50px;
            height: 400px;
        }
        .f3-titulo {
            font-size: 18px
        }
        .f3-texto {
            font-size: 14px;
            margin: 10px 50px;
        }
        .f4-titulo {
            font-size: 18px;
        }
        .faixa-4 {
            height: 100%;
        }
        .f4-images {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .f4-img {
            margin-top: 30px;
        }
        .faixa-5 {
            display: flex;
            flex-direction: column;
            height: 700px;
        }
        .f5-fundo {
            display: flex;
            flex-direction: column;
        }
        .f5-texto {
            margin-left: 150px;
        }
        .f5-texto-2 {
            margin-left: 10px;
        }
    }
}