.page-consultar{
    background-color: #ccffe5;
    height: 100vh;
    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;

        margin: 0px;
        background-color: #F5F5F5;
        height: 10%;
        padding: 10px;
    }
    .img-cabecalho{
        margin-left: 20px;
    }   
    .titulo-cabecalho{

    }
    input{
        outline: none;
        border: none;
        height: 30px;
        width: 13em;
        background-color: white ;
        border-radius: 10px;
        padding: 5px;
    }

    .barraPesquisa-cabecalho{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 15px;
    
    }
    .barraPesquisa-cabecalho img{
        padding-left: 10px;
    }
    .barraPesquisa-cabecalho img:hover{
        cursor: pointer;
        transform: scale(1.1, 1.1);
    }
    .faixa-principal{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: white;
        border: solid 1px   green;
        border-radius: 25px;

        padding: 20px 0px;
        width: 30em;
    }
    .titulo-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        
        width: 20em;
    }
    .titulo-card h4{
        margin-right: 100px;
    }
    .titulo-card img{
        padding: 05px;
    }
    .titulo-card img:hover{
        cursor: pointer;
        transform: scale(1.1, 1.1)
    }
    .data-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        width: 20em;
    }
    .data-card img{
        margin-right: 10px;
        height: 25px;
    }
    .descricao-card{
        padding-top: 10px;
        width: 20em;
    }
    .button{
        margin: 20px;
        margin-top: 10px;
        width: fit-content;

        border-radius: 20px;

        background-color: white;
        border: solid 1px rgb(0, 0, 0);
        padding: 10px;
    }
    .button:hover{
        cursor: pointer;
        transform: scale(1.01,1.01);
        background-color: #F5F5F5;
    }   
}